SUPABASE_URL=https://wtbiishghlrdryqmhpze.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind0Ymlpc2hnaGxyZHJ5cW1ocHplIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjU4NTIyOTksImV4cCI6MjA0MTQyODI5OX0.lf0LSIz0vh5Ld2dH0YDwRSo3HQE9lckVNUpmfPF3iOg