---
import Base from "../layout/Base.astro";
import { supabase } from "../lib/supabase";
import { Reviews, type GuestbookEntry } from "../components/Reviews";

import Sidebar from "../layout/Sidebar.astro"; // Import Sidebar
import Card from "../components/Card.astro";
import MaFooter from "../components/MaFooter.astro";


const { email } = Astro.locals;

const { data } = (await supabase
  .from("guestbook")
  .select("name, message")
  .order("created_at", { ascending: false })) as { data: GuestbookEntry[] };
---

<Base title="Dashboard">
  <div class="flex h-screen overflow-hidden">
    <!-- Sidebar Toggle Button (Mobile) -->
    <button
      id="sidebar-toggle"
      class="fixed top-4 left-4 z-50 p-2 text-white bg-gray-800 rounded-lg sm:hidden"
      aria-label="Toggle Sidebar"
    >
      <svg
        class="w-6 h-6"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>

    <!-- Sidebar Section -->
    <Sidebar
      class="fixed top-0 left-0 h-screen w-64 bg-gray-800 transition-transform transform -translate-x-full sm:translate-x-0 z-40"
    />

    <!-- Main Content Section -->
    <main class="flex-grow ml-0 sm:ml-64 p-6 transition-all duration-300 overflow-y-scroll">
      <h1
        class="text-3xl sm:text-5xl font-extrabold text-center text-gray-800 dark:text-gray-200"
      >
        Hello Guy
      </h1>

      <section
        class="mt-20 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-11 mb-20"
      >
        <!-- Card Section -->
        <Card
          gameName="Chess"
          location="Cochin, KL"
          releaseDate="05-25-2021"
          thumbnailUrl="https://scontent.fpnh8-1.fna.fbcdn.net/v/t39.30808-6/327276488_3044625129176382_7975137548558445070_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeFpyTbKizBh24QSDXLagTZd-w0elx4Lu1b7DR6XHgu7VoTuk-LCKUXIuzi8nm1Zlxlk6KG9-V6PIEXBZqMynOza&_nc_ohc=SzBJ03l6UjQQ7kNvgHyceOm&_nc_zt=23&_nc_ht=scontent.fpnh8-1.fna&oh=00_AYD60U4rurclsLxTOSO4SA9yjaPyfGjJaSm5Ozm063JkaA&oe=66E4FBC4"
          playersCount={62}
        />
        <Card
          gameName="Chess"
          location="Cochin, KL"
          releaseDate="05-25-2021"
          thumbnailUrl="https://scontent.fpnh8-1.fna.fbcdn.net/v/t39.30808-6/327276488_3044625129176382_7975137548558445070_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeFpyTbKizBh24QSDXLagTZd-w0elx4Lu1b7DR6XHgu7VoTuk-LCKUXIuzi8nm1Zlxlk6KG9-V6PIEXBZqMynOza&_nc_ohc=SzBJ03l6UjQQ7kNvgHyceOm&_nc_zt=23&_nc_ht=scontent.fpnh8-1.fna&oh=00_AYD60U4rurclsLxTOSO4SA9yjaPyfGjJaSm5Ozm063JkaA&oe=66E4FBC4"
          playersCount={62}
        />
        <Card
          gameName="Chess"
          location="Cochin, KL"
          releaseDate="05-25-2021"
          thumbnailUrl="https://scontent.fpnh8-1.fna.fbcdn.net/v/t39.30808-6/327276488_3044625129176382_7975137548558445070_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeFpyTbKizBh24QSDXLagTZd-w0elx4Lu1b7DR6XHgu7VoTuk-LCKUXIuzi8nm1Zlxlk6KG9-V6PIEXBZqMynOza&_nc_ohc=SzBJ03l6UjQQ7kNvgHyceOm&_nc_zt=23&_nc_ht=scontent.fpnh8-1.fna&oh=00_AYD60U4rurclsLxTOSO4SA9yjaPyfGjJaSm5Ozm063JkaA&oe=66E4FBC4"
          playersCount={62}
        />
        <Card
          gameName="Chess"
          location="Cochin, KL"
          releaseDate="05-25-2021"
          thumbnailUrl="https://scontent.fpnh8-1.fna.fbcdn.net/v/t39.30808-6/327276488_3044625129176382_7975137548558445070_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeFpyTbKizBh24QSDXLagTZd-w0elx4Lu1b7DR6XHgu7VoTuk-LCKUXIuzi8nm1Zlxlk6KG9-V6PIEXBZqMynOza&_nc_ohc=SzBJ03l6UjQQ7kNvgHyceOm&_nc_zt=23&_nc_ht=scontent.fpnh8-1.fna&oh=00_AYD60U4rurclsLxTOSO4SA9yjaPyfGjJaSm5Ozm063JkaA&oe=66E4FBC4"
          playersCount={62}
        />
        <Card
          gameName="Chess"
          location="Cochin, KL"
          releaseDate="05-25-2021"
          thumbnailUrl="https://scontent.fpnh8-1.fna.fbcdn.net/v/t39.30808-6/327276488_3044625129176382_7975137548558445070_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeFpyTbKizBh24QSDXLagTZd-w0elx4Lu1b7DR6XHgu7VoTuk-LCKUXIuzi8nm1Zlxlk6KG9-V6PIEXBZqMynOza&_nc_ohc=SzBJ03l6UjQQ7kNvgHyceOm&_nc_zt=23&_nc_ht=scontent.fpnh8-1.fna&oh=00_AYD60U4rurclsLxTOSO4SA9yjaPyfGjJaSm5Ozm063JkaA&oe=66E4FBC4"
          playersCount={62}
        />
        <Card
          gameName="Chess"
          location="Cochin, KL"
          releaseDate="05-25-2021"
          thumbnailUrl="https://scontent.fpnh8-1.fna.fbcdn.net/v/t39.30808-6/327276488_3044625129176382_7975137548558445070_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeFpyTbKizBh24QSDXLagTZd-w0elx4Lu1b7DR6XHgu7VoTuk-LCKUXIuzi8nm1Zlxlk6KG9-V6PIEXBZqMynOza&_nc_ohc=SzBJ03l6UjQQ7kNvgHyceOm&_nc_zt=23&_nc_ht=scontent.fpnh8-1.fna&oh=00_AYD60U4rurclsLxTOSO4SA9yjaPyfGjJaSm5Ozm063JkaA&oe=66E4FBC4"
          playersCount={62}
        />
        <!-- More <Card /> components here -->
      </section>
      <section class="py-24 px-4 w-full flex flex-col items-center gap-2">
        <p
          class="max-w-prose text-xl text-indigo-600 dark:text-indigo-400 font-semibold"
        >
          {email}
        </p>
        <p class="max-w-prose text-lg mb-2 dark:text-zinc-100">
          This is a protected page. You can only see this if you are logged in.
        </p>
        <a
          href="/api/auth/signout"
          class="mb-10 bg-zinc-900 dark:bg-zinc-100 text-zinc-100 dark:text-zinc-900 px-3 py-1 rounded-md"
          >Sign out</a
        >
        <Reviews reviews={data} client:idle />
      </section>
      <MaFooter />
    </main>
  </div>

  <!-- Sidebar Toggle Script -->
  <script>
    // Get the sidebar toggle button and the sidebar element
    const sidebarToggle = document.getElementById("sidebar-toggle");
    const sidebar = document.querySelector("aside");

    // Check if sidebarToggle is not null before adding event listener
    if (sidebarToggle && sidebar) {
      sidebarToggle.addEventListener("click", () => {
        sidebar.classList.toggle("-translate-x-full");
        sidebar.classList.toggle("translate-x-0");
      });
    }
  </script>
 
</Base>
